@using EcommerceV2.Helpers

@{
    ViewBag.Title = "Computers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Computers</h2>

<div class="row">
    @CustomHtmlHelper.ProductIndex(ViewBag.ComputerProducts)
</div>
    

